.footer {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo-img {
    width: 50px;
    height: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    transition: transform 0.5s, background-color 0.5s;
}

.footer-icons-container img {
    width: 100%;
    height: 100%;
}

.footer-icons-container:hover {
    transform: rotate(360deg);
    background-color: #e0e0e0; /* Change to a color of your choice */
}

.footer-icons-container:hover img {
    filter: hue-rotate(180deg); /* Adjust this value for the desired color change effect */
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
.dark-text {
    color: white !important;
  }

@media (max-width: 1024px) {
    .footer {
        margin-top: 220px;
        gap: 50px;
    }

    .footer-logo {
        gap: 30px;
        align-items: end;
    }

    .footer-logo-img {
        width: 45px;
        height: 45px;
        margin-bottom: 14px;
    }

    .footer-logo {
        font-size: 30px;
    }

    .footer-links {
        font-size: 20px;
        gap: 18px;
    }

    .footer-social-icon img {
        width: 27px;
    }

    .footer-copyright {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .footer {
        margin-top: 320px;
        gap: 50px;
    }

    .footer-logo {
        gap: 10px;
        align-items: end;
    }

    .footer-logo-img {
        width: 37px;
        height: 37px;
        margin-bottom: 10px;
    }

    .footer-logo p {
        font-size: 39px;
    }

    .footer-links {
        font-size: 14px;
        gap: 11px;
    }

    .footer-social-icon img {
        width: 22px;
    }

    .footer-copyright {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .footer {
        margin-top: 450px;
        gap: 50px;
    }

    .footer-logo {
        gap: 8px;
        align-items: end;
    }

    .footer-logo-img {
        width: 25px;
        height: 25px;
        margin-bottom: 11px;
    }

    .footer-logo p {
        font-size: 30px;
    }

    .footer-links {
        font-size: 12px;
        gap: 9px;
    }

    .footer-social-icon img {
        width: 17px;
    }

    .footer-copyright {
        font-size: 12px;
    }
}
